#!/usr/bin/make -f
# Derived from debhelper/dh_make example.

#export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh_testdir
	./configure --prefix=/usr --mandir=/usr/share/man \
                    --program-transform-name=s/l//
	$(MAKE) 
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp install-stamp
	[ ! -f Makefile ] || $(MAKE) distclean
	dh_clean

install: install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install prefix=`pwd`/debian/tmp/usr \
                        mandir=`pwd`/debian/tmp/usr/share/man
	touch install-stamp

binary-indep: build install
# We have nothing to do, no architecture independent packages here.

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs NEWS README README.cvs README.isdn4linux TODO
#	dh_installmanpages ansi2knr.1
	dh_installchangelogs ChangeLog
	dh_strip
	dh_compress
	cd debian/tmp/usr/share/man/man1 ; \
           ln -s rz.1.gz rb.1.gz ; \
           ln -s rz.1.gz rx.1.gz ; \
           ln -s sz.1.gz sb.1.gz ; \
           ln -s sz.1.gz sx.1.gz
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
